.navbar{
		height: 150px;
		background-color: black;
		position: fixed;
		overflow: hidden;
		top: 0;
		width: 100%;
	   }
.logo{
	  height: 100px;
	  width: 100px;
	  box-shadow: 2px 2px 3px black;
	 }